.articles-section{
    margin: 0 0 38px;
}

.articles-section_heading h2{
    margin: 0;
    text-align: center;
}

.articles-section,
.articles-section_list
{
    display: flex;
    flex-direction: column;
}

.articles-section_list{
    gap: 38px;
}

@media(min-width:768px){
    .articles-section_list .article:nth-child(2n){
        flex-direction: row-reverse;

    }
}