:root{
    /* COLCOR PALLETE */
    --base-primary-color:#6A0066;
    --base-primary-color-1:#fff;
    --base-primary-color-2:#000;
    --base-primary-color-3:#D9D9D9;
    --base-primary-color-4:#E1E1E1;

    --base-secondary-color-2-transparent-80:rgba(0,0,0,0.8);
    --base-secondary-color-2-transparent-69:rgba(0,0,0,0.69);

    /* TYPHOGRAPHY */
    --font-body:16px;

    /* h1 */
    --font-h1-mobile:32px;
    --font-h1-desktop:56px;

    /* h2 */
    --font-h2-mobile:20px;
    --font-h2-desktop:40px;

    /* h3 */
    --font-h3:30px;

    --font-nav-menu:16px;
    --font-button:16px;
    --font-article-tag:12px;

    /* font family */
    --font-family:"Roboto", sans-serif;

    /*font weight */
    --font-weight-100: 100;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-weight-900: 900;
}

